*{
  margin: 0;
  padding: 0;
}

/* .side{
  background-color: position: absolute;;
} */




body{
  background-color: #008299;
}


/* header */
header{
  background-color: #002b33;
  height: 100px;
}

header img{
  margin: 10px;
  float: left;
}

ul{
  cursor: pointer;
  margin-top: 70px;
}

li{
  float: right;
  color: #ffffff;
  list-style: none;
  text-align: center;
  width: 120px;
}

/* main */
main{
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

nav{
  overflow: hidden;
}

.main-content{
  float: left;
  margin: 0 auto;
  background-color:#a3c6cc;
}

.float{
  float: left;
  width: 300px;
  height: 450px;
}

h1{
  text-align: center;
  color: darkblue;
  margin: 10px 0;
}


p{
  margin: 15px;
  font-size: 15px;
}


/* side */
.side-img{
  border-radius: 60%;
  margin: 5px;
  width: 100px;
  display: inline-block;
}

.side{
  background-color: #00afcc;
}

.side-content{
  border-radius: 50px;
  text-align: center;
  background-color: #ffffff;
  margin: 5px;
}

.side h2{
  color: #000066;
  text-align: center;
  margin: 5px;
}

.side p{
  margin-top: 5px;
}

.aside-img{
  margin: 5px;
  width: 300px;
}

/* footer */
footer{
  position: relative;
  height: 150px;
  width: 100%;
  background-color: #002b33;
}

footer p{
  font-size: 20px;
  color: #ffffff;
  text-align: right;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

